/* PHASE 2: Thumbs */

.profile-friends {
    display: flex;
    flex-wrap:wrap;
}

.profile-friends > li {
    width: 60px;
    margin: 0 0 10px 0;
}
  
.profile-friends > li:nth-child(3n-1) {
    margin: 0 10px 10px 10px;
}
  
.thumb {
    display: block;
    position: relative;    /* to make coordinate for children (before, after)*/
    border: 1px solid #000;
    border-radius: 5px;
    width: 58px;     /* to reuse them in thumbnail at main content*/
    height: 58px;
}

/* To position an absolute element (thumb:before) in the center relative to its parent (thumb), use a 
combination of left: 50% and transform: translateX(-50%). The left percentage is relative to its parent, and 
will set the current element's left most pixel to half its parent width. Since this is too far to the left, we 
adjust this by subtracting half our own width. The translateX() value takes a percentage relative to itself.
the x-axis goes to right direction, we wanna it to go left, so -50%
https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateX() */

/*Parent of thumb:before starts from thumb all the way up to window (including li)*/

.thumb:before {             /*the pop up cat's title*/
    content: attr(title);
    display: none;       /* later make it when hover*/
    position: absolute;
    color: white;
    background-color: black;
    font-size: 12px;
    font-weight: 700px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 2px 4px;
    left: 50%;
    transform: translateX(-50%);
    top: -28px;
}

.thumb:after {
    display: none;
    content: '';
    position: absolute;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.thumb:hover:after, .thumb:hover:before {
    display: block;
}







  